version: "3.9"

services:
  app:
    build: .
    container_name: build-pki-2fa-app
    ports:
      - "8080:8080"
    environment:
      TZ: UTC
    volumes:
      - data-volume:/data

volumes:
  data-volume:
